{:deps {org.clojure/clojure {:mvn/version "1.10.0"}
        creddit/creddit {:mvn/version "1.1.0"}
        cprop/cprop {:mvn/version "0.1.17"}
        http-kit/http-kit {:mvn/version "2.5.1"}
        metosin/jsonista {:mvn/version "0.3.0"}
        caesium/caesium {:mvn/version "0.14.0"}
        cljs-ajax/cljs-ajax {:mvn/version "0.8.1"}
        org.clojure/core.async {:mvn/version "1.3.610"}}

 :aliases {:depstar
           {:replace-deps
            {seancorfield/depstar {:mvn/version "2.0.165"}}
            :ns-default hf.depstar
            :exec-args {}}}
 :paths ["src" "resources" "tests"]}
